html
    head
        block title
            title Jugaz | Esqueleto Front End
        meta(charset="utf-8")
        meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=5 user-scalable=no')
        meta(property='og:title' content='Jugaz | Esqueleto Front End')
        meta(property='og:locale' content='en_PE')
        meta(name='description' content='Jugaz | Esqueleto Front End')
        meta(property='og:description' content='Jugaz | Esqueleto Front End')
        meta(name='theme-color' content='#157878')
        meta(property='og:url' content='https://jugaz.github.io/skeleton-frontend/')
        meta(property='og:site_name' content='Jugaz | Esqueleto Front End')
        link(rel='canonical' href='https://jugaz.github.io/skeleton-frontend/')
        link(rel='icon', type='image/png', sizes='32x32', href='./images/favicon-32x32.png')
        block css
            link(rel='stylesheet' href='./styles/index.css')

        block css
            link(rel='preload' as='style', href='styles/index.css')
            link(rel='stylesheet', href='styles/index.css')
     
    body
        block main
        block scripts
            script(defer='true' type='text/javascript', src='./scripts/index.js').